@use "@carbon/react";

@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/theme" as *;

.disabled td {
  color: #999 !important;
}

.important {
  font-weight: bold;
}
.list_header {
  padding-top: $spacing-05;
  padding-bottom: $spacing-07;
}

.list_filters {
  padding-bottom: $spacing-06;
}

.tooltip_container {
  transform: translate(-11px, 3px);
}

.not-enough-data {
  font-size: 0.8em;
  color: #999;
}

.separate-sets {
  font-weight: normal;
  font-size: 0.8em;
}
